@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .nav {
  width: 100%;
  position: fixed;
  background-color: #333333f5;
  z-index: 3;
}

.wrap .nav__item {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .nav__item ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
}

.wrap .nav__item ul li {
  margin: 0px 8px;
}

.wrap .nav__item ul li a {
  color: #f5f5f5;
  font-size: 0.5rem;
  padding: 0 8px;
}

.wrap .nav__item ul .apple {
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  background-image: url(./img/icon/globalnav_apple_image__b5er5ngrzxqq_large.svg);
}

.wrap .nav__item ul .search {
  background-repeat: no-repeat;
  background-image: url(./img/icon/Vector.svg);
  background-position: center center;
  width: 15px;
}

.wrap .nav__item ul .bag {
  background-size: 13px 44px;
  background-repeat: no-repeat;
  background-image: url(./img/icon/globalnav_bag_image__yzte50i47ciu_large.svg);
  background-position: center center;
  width: 13px;
}

.ribbon-shop {
  position: relative;
  top: 46px;
  z-index: 1;
  background-color: #f5f5f7;
}

.ribbon-shop .shop-item {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0px;
}

.ribbon-shop .shop-item span {
  font-size: 0.8rem;
  color: #1d1d1f;
  padding: 0px 20px;
}

.ribbon-shop .shop-item span a {
  color: #0066cc;
}

.ribbon-shop .shop-item span a:hover {
  text-decoration: underline;
}

.i13 {
  margin-top: 45px;
}

.i13 .i13-content {
  padding-top: 47px;
  width: 100％;
  height: 90vh;
  background-size: 3008px 624px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./img/i13/hero_iphone13pro_avail__iy77cld0zwii_large_2x.jpg);
}

@media (max-width: 734px) {
  .i13 .i13-content {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-image: url(./img/i13/hero_iphone13pro_avail__iy77cld0zwii_small_2x.jpeg);
  }
}

.i13 .i13-content .i13-txt {
  text-align: center;
}

.i13 .i13-content .i13-txt h2 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 700;
}

.i13 .i13-content .i13-txt h3 {
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.i13 .i13-content .i13-txt .i13-link {
  margin-top: 22px;
}

.i13 .i13-content .i13-txt .i13-link a {
  font-size: 21px;
  margin: 0px 10px;
  font-weight: 200;
  color: #0066cc;
}

.i13 .i13-content .i13-txt .i13-link a:hover {
  text-decoration: underline;
}

.i13 .i13-content .i13-txt .i13-link svg {
  color: #0066cc;
  margin-left: 5px;
}

@media (max-width: 734px) {
  .i13 .i13-content .i13-txt h2 {
    font-size: 32px;
  }
  .i13 .i13-content .i13-txt h3 {
    font-size: 19px;
  }
  .i13 .i13-content .i13-txt .i13-link a {
    font-size: 17px;
  }
}

.ise-content {
  padding-top: 47px;
  width: 100%;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./img/ise/hero_iphonese_preorder__e4eta8trjs66_large_2x.jpeg);
}

.ise-content .ise-txt {
  text-align: center;
  margin-top: 35px;
}

.ise-content .ise-txt span {
  display: block;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.ise-content .ise-txt .ise-logo {
  margin: 0 auto;
  width: 221px;
  height: 55px;
  background-size: 221px 55px;
  background-repeat: no-repeat;
  background-image: url(./img/ise/logo_hero_iphonese__dtb7zrygggeq_large_2x.png);
}

.ise-content .ise-txt h3 {
  margin-top: 6px;
  font-size: 24px;
  line-height: 2rem;
  font-weight: 400;
}

.ise-content .ise-txt .ise-link {
  margin-top: 22px;
}

.ise-content .ise-txt .ise-link a {
  font-size: 21px;
  margin: 0px 10px;
  font-weight: 200;
  color: #0066cc;
}

.ise-content .ise-txt .ise-link a:hover {
  text-decoration: underline;
}

.ise-content .ise-txt .ise-link svg {
  color: #0066cc;
  margin-left: 5px;
}

.tv-content {
  position: relative;
  height: 100vh;
}

.tv-content .tv-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.tv-content .tv-txt .tv-logo {
  margin-top: 200px;
}

.tv-content .tv-txt .tv-title {
  margin-top: 14px;
}

.tv-content .tv-txt .tv-link {
  margin-top: 40px;
}

.tv-content .tv-txt .tv-link a {
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 980px;
}

.tv-content .tv-txt .tv-link a svg {
  width: 20px;
  padding-left: 5px;
}

.tv-content .tv-txt .tv-link a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.tv-content video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 734px) {
  .card {
    background: blue;
  }
}

.card .item {
  height: 586px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 734px) {
  .card .item {
    height: 520px;
  }
}

.card .grow-1 {
  margin: 10px 5px 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #f08bc3;
}

@media (max-width: 734px) {
  .card .grow-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px 0;
  }
}

.card .grow-2 {
  margin: 10px 10px 10px 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: skyblue;
}

@media (max-width: 734px) {
  .card .grow-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px 0;
  }
}

.wwdc22 {
  position: relative;
}

.wwdc22 .wwdc22-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
  z-index: 1;
}

.wwdc22 .wwdc22-txt h5 {
  color: #c6e1e6;
  max-width: 370px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 27px;
  font-size: 20px;
  text-align: center;
}

.wwdc22 .wwdc22-txt .wwdc-link {
  margin-top: 10px;
}

.wwdc22 .wwdc22-txt .wwdc-link a {
  font-size: 15px;
  color: #0066cc;
}

.wwdc22 .wwdc22-txt .wwdc-link a:hover {
  text-decoration: underline;
}

.wwdc22 .wwdc22-txt .wwdc-link svg {
  margin-left: 3px;
  color: #0066cc;
}

.wwdc22 video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.trade {
  background-image: url(./img/trade/promo_trade_in_may_2022__bbvnbfzoqzxu_large_2x.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 590px;
  background-repeat: no-repeat;
  background-position: center;
}

.trade .trade-txt {
  text-align: center;
  color: #000;
  margin-bottom: 260px;
}

.trade .trade-txt .date {
  font-size: 18px;
  color: #bf4800;
  font-weight: 600;
}

.trade .trade-txt h4 {
  margin-top: 15px;
  position: relative;
  font-size: 35px;
  line-height: 1.1;
  font-weight: 600;
}

.trade .trade-txt h4 sup {
  position: absolute;
  font-size: 0.5em;
  font-weight: 800;
  top: 40px;
  left: 222px;
}

.trade .trade-txt h4 sup a {
  color: #000;
}

.trade .trade-txt h4 sup a:hover {
  color: #0066cc;
}

.trade .trade-txt h5 {
  max-width: 365px;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: -1px;
  margin-top: 10px;
}

.trade .trade-txt .trade-link {
  margin-top: 10px;
}

.trade .trade-txt .trade-link a {
  color: #0066cc;
}

.trade .trade-txt .trade-link a:hover {
  text-decoration: underline;
}

.trade .trade-txt .trade-link svg {
  margin-left: 3px;
  color: #0066cc;
}

.privacy {
  background-image: url(./img/privacy/privacy__fzwalkil8paq_large_2x.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 590px;
  background-repeat: no-repeat;
  background-position: center;
}

.privacy .pri-txt {
  text-align: center;
  margin-bottom: 350px;
}

.privacy .pri-txt h4 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
}

.privacy .pri-txt .pri-link {
  margin-top: 10px;
}

.privacy .pri-txt .pri-link a {
  color: #fff;
}

.privacy .pri-txt .pri-link a:hover {
  text-decoration: underline;
}

.privacy .pri-txt .pri-link svg {
  margin-left: 3px;
  color: #fff;
}

.watch {
  background-image: url(./img/watch/promo_watch_lte__djeaso7ukrsm_large_2x.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 590px;
  background-repeat: no-repeat;
  background-position: center;
}

.watch .watch-txt {
  text-align: center;
  margin-bottom: 350px;
}

.watch .watch-txt h5 {
  color: #000;
  margin: 15px 0px;
  font-size: 21px;
}

.watch .watch-txt .watch-link a {
  color: #0066cc;
  font-size: 16px;
}

.watch .watch-txt .watch-link a:hover {
  text-decoration: underline;
}

.watch .watch-txt .watch-link svg {
  margin-left: 3px;
}

.watch .watch-txt .watch-link .shop {
  margin-left: 28px;
}

.ipad {
  background-image: url(./img/ipad/promo_ipadair_avail__ferd4bfpcdm6_large_2x.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 590px;
  background-repeat: no-repeat;
  background-position: center;
}

.ipad .ipad-txt {
  text-align: center;
  margin-bottom: 380px;
}

.ipad .ipad-txt h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 10px 0px 15px 0px;
}

.ipad .ipad-txt .ipad-link a {
  color: #0066cc;
  font-size: 16px;
}

.ipad .ipad-txt .ipad-link a:hover {
  text-decoration: underline;
}

.ipad .ipad-txt .ipad-link svg {
  margin-left: 3px;
}

.ipad .ipad-txt .ipad-link .shop {
  margin-left: 28px;
}

.pride {
  background-image: url(./img/pride/promo_pride__6iq9ryajnw2q_large_2x.jpeg);
  width: 1262px;
  height: 580px;
  background-size: 1262px 590px;
  background-repeat: no-repeat;
  background-position: center;
}

.pride .pride-txt {
  text-align: center;
  margin-bottom: 380px;
}

.pride .pride-txt h4 {
  font-size: 40px;
  color: #000;
  font-weight: 600;
}

.pride .pride-txt h5 {
  margin: 5px 0px 8px 0px;
}

.pride .pride-txt .pride-link a {
  color: #0066cc;
}
/*# sourceMappingURL=style.css.map */